name: Publish conda package

on:
  release:
    types: [published]

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3
      
      - name: Setup Mambaforge
        uses: conda-incubator/setup-miniconda@v2
        with:
          miniforge-variant: Mambaforge
          miniforge-version: latest
          use-mamba: true
          channels: conda-forge,defaults
          channel-priority: true

      - name: Build and upload
        shell: bash -l {0}
        env:
          ANACONDA_TOKEN: ${{ secrets.ANACONDA_TOKEN }}
        run: |
          mamba install -y conda-build conda-verify anaconda-client boa
          conda config --set anaconda_upload yes
          cd $GITHUB_WORKSPACE
          conda mambabuild --no-test --token "$ANACONDA_TOKEN" --user bam77 .conda -m .conda/conda_build_config.yaml
